.night-mode
{
    background-color: #333;
    color: white;
}

.night-mode a
{
    color: #ddd;
    text-decoration: none;
}

.night-mode a:hover
{
    color: white;
}

.night-mode a.pop:hover
{
    font-size: 1.1em;
}

.night-mode .post-details
{
    color: #aaa;
}

.night-mode .form-control
{
    background-color: #5c5c5c;
    border: 1px solid #8c8c8c;
    color: white;
    font-size: 15px;
}

.night-mode .form-control-sm
{
    background-color: #5c5c5c;
    border: 1px solid #8c8c8c;
    color: white;
    font-size: 15px;
}

.night-mode .btn-default
{
    background-color: #363636;
    border: 1px solid #8c8c8c;
    border-left: none;
    color: #ddd;
}

.night-mode .btn-default:hover
{
    background-color: #2f2f2f;
    color: white;
}

.night-mode .btn-default:hover:active
{
    background-color: #222;
    border: 1px solid #999;
    color: white;
}

.night-mode .btn-default:active
{
    background-color: #222;
    border: 1px solid #999;
    color: white;
}

.search-status
{
    text-align: center;
}

.night-mode .other-results
{
    color: #ccc;
}

.night-mode select
{
    background-color: #333;
    border-radius: 2px;
    color: #ddd;
}

.night-mode option:hover,
.night-mode select:hover
{
    background-color: #444;
}

.night-mode .sort-option
{
    color: #ccc;
}

.pre
{
    white-space: pre;
}
