body 
{
  background-color: #ccc;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  width: 600px;
  font-size: 13px;
}

#main 
{
  max-width: 95%;
  padding: 20px;
}

.num-results-container
{
  padding-left: 18px;
}

.list-container
{
  padding: 10px;
}

td 
{
  padding: 10px;
  vertical-align: middle !important;
}

td.score,
td.subreddit
{
	text-align: center;
}

.score
{
  font-size: 15px;
}

.night-mode
{
	background-color: #333;
	color: white;
}

.night-mode a
{
  color: #ddd;
}

.night-mode .post-details
{
  color: #aaa;
}

.night-mode .form-control
{
	background-color: #777;
	color: white;
	font-size: 15px;
}

.night-mode .btn-default
{
	background-color: #999;
	color: white;
}

.search-status
{
  text-align: center;
}
